{% extends "base.j2" %}

{% block content %}
    <div id="header"><h1>Simple Latex</h1></div>

    <div id="latex_input_container">
	<textarea id="latex_input" onkeyup="update_latex()"></textarea>
	<div id="latex_util_container">
	    <div id="latex_buttons_container">
		<button onclick="save_latex()">Save</button>
	    </div>
	    <div id="latex_url_container">
	    </div>
	</div>
    </div>
    
    <div id="latex_display_container">
	<p id="latex_display">$${}$$</p>
    </div>
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/latex_producer.js') }}"></script>
{% endblock %}


